.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
src/routes/api/datastore.ts
src/routes/api/setOtp
src/routes/api/getOtp
/.vscode
test*.jpg
test*.jpeg
test*.png